body {
	/* display: none; */
	width: 360px;
	min-width: 360px;
	height: 480px;
	/* min-height: 70px; */
	max-height: 480px;
	color: black;
	font: 12px/16px Sans-serif, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
	overflow: hidden;
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
	cursor: default;
	/* transition: height 0.3s; */
}

body.dynamic {
}

body.full {
	height: 480px;
}

body.short ul li {
	width: calc(100% - 20px - 34px);
}

section {
	position: relative;
	top: 0px;
	width: 100%;
	/* max-height: 100%; */
	height: 100%;
	max-height: 480px;
	overflow-x: hidden;
	overflow-y: auto;
}

	section::-webkit-scrollbar {
		-webkit-appearance: none;
		position: absolute;
		width: 3px;
	}

	section::-webkit-scrollbar-thumb {
		border-radius: 8px;
		background-color: #d8d8d8;
		background-color: #a0a0a0;
	}

	section::-webkit-scrollbar-track {
		border-radius: 8px;
		background-color: transparent;
		background-color: #f0f0f0;
	}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	max-width: 100%;
	overflow: hidden;
	/*border-top: 1px solid #ccc;*/
}

fieldset:first-child {
	/* margin-top: 4px; */
}

	fieldset legend {
		position: relative;
		width: calc(100% - 18px);
		padding: 3px 24px;
		padding-left: 0;
		/* padding-bottom: 2px; */
	    /* background-color: #b0b0b0; */
	}

	fieldset legend:before {
		z-index: 50;
		position: absolute;
		left: 10px;
		left: 6px;
		top: 16px;
		width: calc(100% - 10px - 12px - 24px - 32px);
		width: calc(100% - 6px - 24px);
		width: 20px;
		height: 1px;
		background-color: #ccc;
		background-color: transparent;
		/* border-top: 1px solid white; */
		content: '';
	}

	fieldset.focused legend {
		/* color: white; */
		/* background-color: #333; */
	}

	fieldset.minimized legend {
		/*color: #eee;*/
		/*background-color: #555;*/
	}

	fieldset legend label {
		z-index: 100;
		position: relative;
		display: inline-block;
		margin-left: 34px;
		color: #333;
		font-size: 12px;
		line-height: 24px;
		/* left: 2px; */
		/* top: 1px; */
		z-index: 100;
		/* height: 24px; */
		padding: 0 8px;
		/* padding-left: 16px; */
		color: #fff;
		/* color: #999; */
		/* color: white; */
		/* background-color: #e5e5e5; */
		/* border-top-left-radius: 3px; */
		/* border-bottom-left-radius: 3px; */
		/* letter-spacing: -1px; */
		background-color: #a0a0a0;
		/* background-color: transparent; */
	    border-radius: 3px;
	}

	fieldset legend label b {
		font-weight: 900;
	}

	fieldset legend span {
		/* padding-left: 6px; */
		z-index: 50;
		position: relative;
		left: -3px;
		display: inline-block;
		padding: 0 8px;
		padding-left: 10px;
	    font-size: 12px;
	    font-weight: 900;
		line-height: 24px;
	    color: #999;
	    border-radius: 3px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		background-color: #e0e0e0;
	}

		fieldset legend span em {
		    /* opacity: .5; */
		}


ul {
	width: 360px;
	list-style: none;
	padding: 0;
	margin: 0;
}

	ul:last-child {
		margin-bottom: 0;
	}

	fieldset.minimized ul {
		/*margin: 0;*/
	}

	ul li {
		width: calc(100% - 20px - 34px - 4px);
		color: black;
		position: relative;
		padding: 2px 20px 2px 34px;
		margin: 0px 0 0px 0;
		border-radius: 3px;
		overflow: hidden;
		transition: padding 0.3s;
	}

	ul li.removed {
		padding-top: 0px;
		padding-bottom: 0px;
	}

		ul li.removed p {
			line-height: 0px;
			padding: 0;
		}

	ul li:hover:not(.active),
	fieldset:not(.focused) ul li:hover {
		background-color: #f5f5f5 !important;
		cursor: pointer;
	}

	ul li:active:not(.active),
	fieldset:not(.focused) ul li:active {
		background-color: #ccc !important;
		cursor: pointer;
	}

		ul li:hover:not(.active) p i,
		fieldset:not(.focused) ul li:hover p i,
		ul li:hover:not(.active) p b,
		fieldset:not(.focused) ul li:hover p b {
			color: black !important;
			opacity: 0.9;
		}

		ul li:hover img {
			/*top: 8px;*/
		}

		ul li:hover p i
		ul li:active p i {
			color: black !important;
			/* opacity: .5; */
		}

	ul li:active {
		background-color: #aaa !important;
	}

		ul li img {
			position: absolute;
			top: 8px;
			left: 8px;
			width: 16px;
			height: 16px;
			/*opacity: 0.33;*/
		}

			ul li:hover img,
			ul li:active img {
				opacity: 1 !important;
			}

		fieldset.minimized ul li img {
			/*opacity: .33;*/
		}

		ul li .close {
			position: absolute;
			top: 0px;
			right: 0px;
			width: 32px;
			height: 32px;
			font-size: 19px;
			line-height: 28px;
			color: #aaa;
			font-weight: 100;
			background-color: transparent;
			text-align: center;
			border-radius: 2px;
			opacity: 0;
			/* transition: opacity 0.2s; */
		}

			ul li .close:hover {
				color: white;
				background-color: #ff0066 !important;
			}

			ul li.active:hover .close:hover {
				color: white;
				background-color: #ff0066;
			}

			ul li:hover .close,
			ul li:active .close {
				opacity: 1;
			}

			.focused ul li.active:hover .close {
				color: white;
				background-color: transparent;
			}

		ul li p {
			font-size: 14px;
			line-height: 22px;
			width: calc(100% - 12px);
			margin: 0;
			padding: 2px 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			color: #ccc;
			font-family: Sans-serif;
			font-weight: 400;
			transition: line-height 0.3s, padding 0.3s;
		}

			ul li p b {
				color: #333;
				font-weight: 600
			}

			ul li p i {
				font-style: normal;
				font-weight: 500
			}

		ul li.no-avail p {
			color: #aaa;
			/*font-size: 11px;*/
		}

			ul li:hover:not(.active) .url,
			ul li:active:not(.active) .url {
				xdisplay: block;
				color: white !important;
			}

	fieldset.focused ul li.active {
		color: white;
		background-color: #3366ff !important; /* 3366ff */
	}

		fieldset.focused ul li.active p b {
			color: white !important;
			/* opacity: 0.95; */
		}

		fieldset.focused ul li.active p i {
			color: white !important;
			opacity: 0.75;
		}

	fieldset.minimized ul li {
		/*color: #777;*/
	}

		fieldset.minimized ul li .url {
			/*color: #bbbbbb;*/
		}