$width: 360px;
$rowheight: 30px;
$maxheight: calc(var(--maxrows) * #{$rowheight});
$sbarwidth: 6px;

$black: #1c1c1c;
$gray: #cacaca;
$gray-dark: #4c4c4c;
$blue: #0066cc;
$red: #ff0033;

body {
	width: $width;
	min-width: $width;
	max-height: $maxheight;
	color: $black;
	font: 12px/16px Sans-serif, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
	overflow: hidden;
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
	cursor: default;
}

section {
	position: relative;
	top: 0px;
	width: 100%;
	height: 100%;
	max-height: $maxheight;
	overflow-x: hidden;
	overflow-y: auto;

	&.has-scrollbars ul {
		width: calc(#{$width} - #{$sbarwidth});
	}

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width: $sbarwidth;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $gray-dark;
	}

	&::-webkit-scrollbar-track {
		background-color: $gray;
	}
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	max-width: 100%;

	legend {
		z-index: 100;
		position: sticky;
		top: 0px;
		width: 100%;
		padding: 0;
		color: $black;
		background-color: $gray;

		span {
			width: 32px;
			z-index: 50;
			display: inline-block;
			vertical-align: top;
			padding: 0;
			font-size: 12px;
			font-weight: 600;
			line-height: $rowheight;
			text-align: center;
		}

		label {
			z-index: 100;
			position: absolute;
			right: 6px;
			display: inline-block;
			z-index: 600;
			font-size: 12px;
			line-height: $rowheight;
			font-weight: 600;
			opacity: 0.8;

			i {
				font-style: normal;
				padding: 2px 5px;
				color: $black;
				border-radius: 8px;
				background-color: white;
			}
		}
	}

	&.focused ul li.active {
		color: white;
		background-color: $gray-dark;
	}

	ul {
		width: $width;
		list-style: none;
		padding: 0;
		margin: 0;
		// transition: width 0.2s ease;

		li {
			width: 100%;
			color: $black;
			position: relative;
			padding: 0;
			padding-left: 34px;
			margin: 0;
			overflow: hidden;
			box-sizing: border-box;

			&:last-child {
				margin-bottom: 0;
			}

			&:hover, &:active {
				color: white;
				background-color: $blue !important;
				cursor: pointer;

				p {
					width: calc(100% - 12px - 24px);
				}

				.close {
					opacity: 1;
				}
			}

			img {
				position: absolute;
				top: 6px;
				left: 8px;
				width: 16px;
				height: 16px;
			}

			p {
				overflow: hidden;
				width: calc(100% - 12px);
				height: $rowheight;
				margin: 0;
				padding: 0;
				font-family: Sans-serif;
				font-size: 13.5px;
				line-height: $rowheight;
				font-weight: 400;
				letter-spacing: -.010em;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.close {
				z-index: 10;
				position: absolute;
				top: 0px;
				right: 0px;
				width: $rowheight - 2px;
				height: $rowheight;
				font-size: 18px;
				line-height: $rowheight - 2px;
				color: white;
				font-weight: 300;
				text-align: center;
				opacity: 0;

				&:hover {
					color: white;
					background-color: $red !important;
				}
			}
		}
	}
}
