$width: 380px;
$rowheight: 30px;
$maxheight: calc(var(--maxrows) * #{$rowheight});
$sbarwidth: 6px;

$black: #1c1c1c;
$gray: #e8eaea;
$gray-mid2: #d8dada;
$gray-mid: #888a8a;
$gray-dark: #585a5a;
$blue: #0066cc;
$red: #ff0033;

body {
	width: $width;
	min-width: $width;
	max-height: $maxheight;
	color: $black;
	font: 12px/16px Sans-serif, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
	overflow: hidden;
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
	cursor: default;
}

section {
	position: relative;
	top: 0px;
	width: 100%;
	height: 100%;
	max-height: $maxheight;
	overflow-x: hidden;
	overflow-y: auto;

	&.has-scrollbars ul {
		width: calc(#{$width} - #{$sbarwidth});
	}

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width: $sbarwidth;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $gray-dark;
		// border-radius: 2px;
	}

	&::-webkit-scrollbar-track {
		background-color: $gray;
	}
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	max-width: 100%;

	legend {
		z-index: 100;
		position: sticky;
		top: 0px;
		width: 100%;
		height: $rowheight;
		padding: 0;
		background-color: rgba(255, 255, 255, 0.9);
		// background-color: $gray;
		// box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);

		span {
			z-index: 50;
			padding: 4px 0;
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			font-weight: 600;
			color: $black;
			line-height: 1;
			text-align: left;
			// border-radius: 8px;
			padding: 4px 8px 4px 34px;
			margin-top: 4px;
			// background-color: $black;
		}

		label {
			z-index: 100;
			position: absolute;
			right: 10px;
			display: inline-block;
			width: calc(100% - 34px - 8px);
			opacity: 1;
			color: $gray-mid;
			// padding-left: 10px;
			text-align: right;
			font-size: 12px;

			// &:before {
			// 	content: '';
			// 	height: 1px;
			// 	display: inline-block;
			// 	width: calc(100% - 34px - 6px - 10px);
			// 	margin-right: 10px;
			// 	background-color: $black;
			// 	vertical-align: middle;
			// }

			i {
				font-style: normal;
				font-weight: 400;
				line-height: $rowheight + 0px;
				// padding: 1px 4px;
				border-radius: 4px;
				// border: 1px solid $gray-dark;
				// background-color: white;
			}
		}
	}

	// &.focused legend span {
	// 	background-color: $blue;
	// }

	ul {
		width: $width;
		list-style: none;
		padding: 0;
		margin: 0;
		// transition: width 0.2s ease;

		li {
			width: 100%;
			color: $black;
			position: relative;
			padding: 0;
			padding-left: 34px;
			margin: 0;
			overflow: hidden;
			box-sizing: border-box;

			&:last-child {
				margin-bottom: 0;
			}

			&.active {
				// background-color: $gray;

				img {
					opacity: 1;
					filter: grayscale(0);
				}

				p {
					font-weight: 600 !important;
					// opacity: 1;
				}
			}

			&:hover, &:active {
				// color: white;
				background-color: $gray;
				cursor: pointer;

				img {
					filter: grayscale(0);
					opacity: 1;
				}

				p {
					width: calc(100% - 12px - 24px);
					font-weight: 500;
					opacity: 1;
				}

				.close {
					color: black;
					opacity: 1;
				}
			}

			img {
				position: absolute;
				top: 50%;
				left: 8px;
				width: 16px;
				height: 16px;
				transform: translateY(-50%);
				filter: grayscale(1);
				// opacity: 0.35;
			}

			p {
				overflow: hidden;
				width: calc(100% - 12px);
				height: $rowheight;
				margin: 0;
				padding: 0;
				font-family: Sans-serif;
				font-size: 13.5px;
				line-height: $rowheight;
				font-weight: 400;
				letter-spacing: -.010em;
				white-space: nowrap;
				text-overflow: ellipsis;
				opacity: 0.8;
			}

			.close {
				z-index: 10;
				position: absolute;
				top: 0px;
				right: 0px;
				width: $rowheight - 2px;
				height: $rowheight;
				font-size: 18px;
				line-height: $rowheight - 2px;
				color: black;
				font-weight: 400;
				text-align: center;
				opacity: 0;

				&:hover {
					color: white;
					background-color: $red !important;
				}
			}
		}
	}
}
